@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: #ffffff;
}

.container {
  margin: 30px auto;
  background-color: #D6EFED;
  width: 60%;
  /* overflow: auto; */
  /* min-height: 300px auto; */
  max-height: auto;
  /* border: 1px solid steelblue; */
  padding: 30px;
  border-radius: 10px;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.header {
  display: flex;
  /* justify-content: center; */
  align-items: center;
  justify-content: center;
  /* margin-bottom: 20px; */
}

.header2 {
  display: flex;
  font-size: 60px
  /* justify-content: center; */
  /* justify-content: center; */
  /* margin-bottom: 20px; */
}


.title {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  /* margin-bottom: 20px; */
}

/* .btn {
  background: #000;
  color: #ffffff;
  border: hsl(207, 54%, 27%);
  border-style: solid;
  border-width: 0px;
  padding: 10px 20px;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
  float: right;
  justify-content: flex-end;
  align-items: right;
  text-decoration: none;
  font-size: 20px;
  font-family: inherit;
} */

.btn {
  /* display: inline-block; */
  background: #fff;
  color: #51557E;
  /* border: steelblue; */
  padding: 4px 8px;
  margin: 5px;
  border-width: 3px;
  border: #51557E;
  border-style: solid;
  border-radius: 5px;
  cursor: pointer;
  /* float: right; */
  text-decoration: none;
  font-size: 22px;
  font-family: inherit;
  transition: color 0.3s;
  transition: background 0.3s;
  /* transition: scale 0.3s; */
}

.btnnavbar {
    background: #fff;
    color: #51557E;
    padding: 4px 8px;
    display: inline;
    margin: 5px;
    border-width: 3px;
    border: #fff;
    border-style: solid;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    font-size: 22px;
    font-family: inherit;
    transition: color 0.3s;
    transition: background 0.3s;
}

.btnnavbar:hover {
  background: #51557E;
  color: #fff;
}

.btnnavbar:active {
  transform: scale(0.9);
}

.btn:focus {
  outline: rgb(239, 239, 239);
}

.centered {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.btn:hover {
  background: #51557E;
  color: #fff;
}

.btn:active {
  transform: scale(0.9);
}

footer {
  margin-top: 30px;
  text-align: center;
}
