@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: #ffffff;
}

.container {
  margin: 30px auto;
  /* overflow: auto; */
  /* min-height: 300px auto; */
  max-height: auto;
  /* border: 1px solid steelblue; */
  padding: 30px;
  border-radius: 10px;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.header {
  display: flex;
  /* justify-content: center; */
  align-items: center;
  justify-content: center;
  /* margin-bottom: 20px; */
}

.header2 {
  display: flex;
  font-size: 60px
  /* justify-content: center; */
  /* justify-content: center; */
  /* margin-bottom: 20px; */
}


.title {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  /* margin-bottom: 20px; */
}

/* .btn {
  background: #000;
  color: #ffffff;
  border: hsl(207, 54%, 27%);
  border-style: solid;
  border-width: 0px;
  padding: 10px 20px;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
  float: right;
  justify-content: flex-end;
  align-items: right;
  text-decoration: none;
  font-size: 20px;
  font-family: inherit;
} */

.btn {
  /* display: inline-block; */
  background: #000;
  color: #fff;
  /* border: steelblue; */
  padding: 8px 16px;
  margin: 5px;
  border-width: 0px;
  border-style: solid;
  border-radius: 5px;
  cursor: pointer;
  float: right;
  text-decoration: none;
  font-size: 22px;
  font-family: inherit;
}

.btn:focus {
  outline: rgb(239, 239, 239);
}

.btn:hover {
  background: #111;
  
}

.btn:active {
  transform: scale(0.95);
}

.btn-block {
  display: block;
  width: 100%;
}

.task {
  background: #f4f4f4;
  margin: 5px;
  padding: 10px 20px;
  cursor: pointer;
}

.task.reminder {
  border-left: 5px solid green;
}

.task h3 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.add-form {
  margin-bottom: 40px;
}

.form-control {
  margin: 20px 0;
}

.form-control label {
  display: block;
}

.form-control input {
  width: 100%;
  height: 40px;
  margin: 5px;
  padding: 3px 7px;
  font-size: 17px;
}

.form-control-check {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.form-control-check label {
  flex: 1;
}

.form-control-check input {
  flex: 2;
  height: 20px;
}

footer {
  margin-top: 30px;
  text-align: center;
}
