@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
}

@keyframes fadeIn {
  from {opacity: 0}
  to {opacity: 1}
}

@keyframes slideUp {
  from {
    opacity: 0;
    line-height: 200px;
}
  to {
    opacity: 1;
    line-height: 80px;
  }
}

@media only screen and (max-width: 600px) {
  .btnnavbar {
    display: none;
  }
}

::-webkit-scrollbar {
  width: 10px;
  border-radius: 3px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #fff;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #51557E;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #8E91AF;
}

.dropbtn {
  background-color: #fff;
  color: #748DA6;
  padding: 5px 10px;
  border-width: 3px;
  border: #748DA6;
  border-style: solid;
  border-radius: 5px;
  cursor: pointer;
  font-size: 30px;  
  transition: color 0.3s;
  transition: background 0.3s;
  user-select: none; /* supported by Chrome and Opera */
  -webkit-user-select: none; /* Safari */
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  cursor: pointer;
  user-select: none; /* supported by Chrome and Opera */
  -webkit-user-select: none; /* Safari */
}

/* Links inside the dropdown */
.dropdown-content a {
  color: #748DA6;
  font-size: 30px;
  padding: 4px 5px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
  background-color: #748DA6;
  color: #fff;
}


body {
  font-family: 'Poppins', sans-serif;
  background-color: #ffffff;
}

.gradient {
  /* color: rgb(2,0,36); */
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(224,219,42,1) 0%, rgba(0,212,255,1) 100%);
  font-weight: 'bold';
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.container {
  margin: 2vw auto;
  background-color: #D6EFED;
  width: 80%;
  /* max-height: auto; */
  padding: 2vw;
  border-radius: 10px;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.header {
  display: flex;
  /* justify-content: center; */
  align-items: center;
  justify-content: center;
  /* margin-bottom: 20px; */
}

.header2 {
  display: flex;
  font-size: 60px
  /* justify-content: center; */
  /* justify-content: center; */
  /* margin-bottom: 20px; */
}


.title {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  /* margin-bottom: 20px; */
}

.btn {
  /* display: inline-block; */
  background: #fff;
  color: #7e94c4;
  /* border: steelblue; */
  padding: 0.25vw 0.5vw;
  margin: 0px;
  border-width: 3px;
  border: #7e94c4;
  border-style: solid;
  border-radius: 5px;
  cursor: pointer;
  /* float: right; */
  text-decoration: none;
  font-size: 2vw;
  font-family: inherit;
  transition: color 0.3s;
  transition: background 0.3s;
  user-select: none; /* supported by Chrome and Opera */
  -webkit-user-select: none; /* Safari */
  /* transition: scale 0.3s; */
}

.btn:focus {
  outline: rgb(239, 239, 239);
}

.centered {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.btn:hover {
  background: #7e94c4;
  color: #fff;
}

.btn:active {
  transform: scale(0.9);
}

.vl {
  border-left: 10px solid #51557E;
  width: 10px;
  height: 100px;
  position: absolute;
  left: 50%;
  margin-top: 600px;
  display: block;
  margin-left: -5px;
  margin-right: auto;
  top: 0;
}

nav {
  background-color: #D6EFED;
  color: #506491;
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  padding: 0px 1rem;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 10;
}

nav ul {
  list-style: none;
  margin: 0;
  display: flex;
  gap: 1rem;
}

nav a, .navlink {
  color: #506491;
  font-size: max(1.5vw, 20px);
  font-weight: 600;
  text-decoration: none;
  transition: color 0.3s;
}

.navspacer {
  color: #506491;
  font-size: max(1.5vw, 20px);
  text-decoration: none;
}

nav a:hover, .navlink:hover {
  color: #A78DAD;
}

footer {
  margin-top: 50px;
  text-align: center;
  width: 100%;
  background-color: #7e94c4;
  display: flex;
  justify-content: space-between;
  bottom: 0;
}