@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
}

$darkblue: #6271e2;
$cyan: #23d7a5;
$lightblue: #D6EFED;
$hover: lighten($darkblue, 10%);

@keyframes fadeInLeft {
  from {
    opacity: 0.2;
    margin-left: -10%;
  }
  to {
    opacity: 1;
    margin-left: inherit;
  }
}

@media only screen and (max-width: 600px) {
  .btnnavbar {
    display: none;
  }
}

::-webkit-scrollbar {
  width: 10px;
  border-radius: 3px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #fff;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #51557E;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #8E91AF;
}

.homediv {
  text-align: left;
  display: flex;
  justify-content: space-between;
  padding: 0% 5% 0% 5%;
  line-height: 80px; 
  margin-top: 5vh;
}

.homeimg {
  margin-top: -8%;
  width: 40%;
}

@media screen and (max-width: 1000px) {
  .homediv {
    display: block;
    text-align: center !important;
    line-height: 60px;
  }
  .homeimg {
    width: 50%;
    margin-top: 0% !important;
  }
}

@media screen and (max-width: 600px) {
  .homediv {
    display: block;
    text-align: center;
    line-height: 60px;
  }
  .homeimg {
    margin-top: 5% !important;
  }
}

.dropbtn {
  background-color: #fff;
  color: #748DA6;
  padding: 5px 10px;
  border-width: 3px;
  border: #748DA6;
  border-style: solid;
  border-radius: 5px;
  cursor: pointer;
  font-size: 30px;  
  transition: color 0.3s;
  transition: background 0.3s;
  user-select: none; /* supported by Chrome and Opera */
  -webkit-user-select: none; /* Safari */
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
  &:hover .dropdown-content {
      display: block;
  }
  &:hover .dropbtn {
    background-color: #748DA6;
    color: #fff;
  }
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  cursor: pointer;
  user-select: none; /* supported by Chrome and Opera */
  -webkit-user-select: none; /* Safari */

  a {
    color: #748DA6;
    font-size: 30px;
    padding: 4px 5px;
    text-decoration: none;
    display: block;
    &:hover {background-color: #f1f1f1}
  }
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: #F4F4F4;
  min-height: 100%;
}

.gradient {
  /* color: rgb(2,0,36); */
  background: linear-gradient(90deg, $darkblue, $cyan 100%);
  font-weight: 'bold';
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.container {
  margin: 2vw auto;
  background-color: #D6EFED;
  width: 80%;
  /* max-height: auto; */
  padding: 2vw;
  border-radius: 10px;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.header {
  display: flex;
  /* justify-content: center; */
  align-items: center;
  justify-content: center;
  /* margin-bottom: 20px; */
}

.header2 {
  display: flex;
  font-size: 60px
  /* justify-content: center; */
  /* justify-content: center; */
  /* margin-bottom: 20px; */
}


.title {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  /* margin-bottom: 20px; */
}

.btn {
  /* display: inline-block; */
  background: $darkblue;
  color: #fff;
  /* border: steelblue; */
  padding: 10px 20px;
  margin: 0px;
  border-width: 0px;
  border-radius: 5px;
  cursor: pointer;
  /* float: right; */
  text-decoration: none;
  font-size: max(2vw, 20px);
  font-family: inherit;
  transition: color 0.3s;
  transition: background 0.3s;
  user-select: none; /* supported by Chrome and Opera */
  -webkit-user-select: none; /* Safari */
  /* transition: scale 0.3s; */

  &:hover {
    background: $hover;
  }
  &:active {
    transform: scale(0.95);
  }
}

.collapsible {
  margin-top: 5px;
  background-color: rgb(227, 224, 224);
  color: #444;
  cursor: pointer;
  padding: 18px 25px 18px 25px;
  border: none;
  border-bottom: 3px solid $cyan;
  width: 100%;
  text-align: left;
  align-items: center !important;
  font-size: 20px;
  transition: background-color 0.2s ease;

  &:hover {
    background-color: #ccc;
  }  
}

.cactive, .collapsible:hover {
  background-color: #ccc;
}

.collapsible:after {
  content: '\002B';
  color: black;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.cactive:after {
  content: "\2212";
}

.content {
  padding: 3px 18px;
  background-color: white;
  max-height: 0;
  white-space:pre-wrap;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

.centered {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.nav {
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  padding: 10px 1rem;
  align-items: center;
  position: sticky;
  top: 0;
  overflow: hidden;
  z-index: 10;
  transition: background-color 0.3s ease;

  ul {  
    list-style: none;
    margin: 0;
    display: flex;
    gap: 1rem;
  }

  .icon {
    display: none;
    font-weight: bold;
  }

  a, .navlink {
    background-image: linear-gradient(90deg, $cyan 0%, $darkblue 100%);
    background-size: 0% 3px;
    background-repeat: no-repeat;
    background-position: left bottom;
    color: #000;
  
    font-size: 27px;
    text-decoration: none;
    transition: color 0.3s, background-size 0.5s ease;
    &:hover {
      background-size: 100% 3px;
    }
  }

  li.active {
    background-image: linear-gradient(90deg, $cyan 0%, $darkblue 100%);
    background-size: 100% 3px;
    background-repeat: no-repeat;
    background-position: left bottom;
  }
}

@media screen and (max-width: 1100px) {
  .nav {
    ul:not(:first-child) {
      display: none;
    }
    .icon {
      display: inherit;
      cursor: pointer;
    }
  }
  .nav.responsive {position: sticky;}
  .nav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .nav.responsive ul {
    float: none;
    display: block;
    text-align: left;
    line-height: 35px;
  }
}

footer {
  margin-top: 50px;
  text-align: center;
  width: 100%;
  font-size: max(1.3vw, 15px);
  text-decoration: none !important;
  background-color: #D6EFED;
  color: #000;
  padding-top: 30px;
  display: block;
  line-height: max(2.5vw, 20px);
  margin-bottom: -1000%;
}